@font-face{
  font-family:'super smash tv';
  src: url("./fonts/sstv.ttf");
}
p {
  margin: 0;
  padding: 0;

  white-space: nowrap;
  overflow: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 99vh;

  background-color: #89c9ff;
}
button:focus {
  outline: 0;
}

.drum-machine {
  max-width:60vh;

  background-color: #e8e8e8;
  padding: 2vw 1.5vw;
  font-family: "Helvetica Neue";
  border: 4px #c4c4c4 solid;
}

.drum-machine__screen {
  max-height: 15%;
  font-family: "super smash tv";
  background-color: #4880ff;
  color: white;
  font-weight: normal;
  padding: 3%;
  margin-bottom: 1.5vw;
}

.drum-machine__screen__title {
  font-size: 3vw;
  margin-bottom: .2em;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.drum-machine__screen__subtitle {
  font-size: 2vw;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
ul.drum-machine__pads {
  list-style: none;

  padding: 0;
  margin-top: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vw;
}
ul.drum-machine__pads li button{
  position: relative;
  width:100%;
  max-width:100%;

  height: 0;
  padding-top: 100%;

  background: #c4c4c4;
  border:none;
  border-radius: .4rem;
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.2);
}
ul.drum-machine__pads li button:active{
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);

  -webkit-transform: translateY(-1px);

/*
  background: radial-gradient(ellipse at center,
    #deefff 25%,#c4c4c4 100%);
*/
}
.drum-machine__pads__label {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  font-size: 1.5vw;
  color: #4a4a4a;
}
.js-upload-button input {
  display:none;
}
.js-upload-button{
  position: absolute;
  top: 0;right: 0;

  padding: .4vw .6vw;
  border-radius: .2vh 1vh;

  background-color: #7C7C7C;
  color:white;
  font-size:.8em;
  cursor: pointer;
}
/*:not(:focus-within)*/

/* Smartphones (portrait) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 1024px) {
  body{
    background:#e8e8e8;
  }
  .start-button{
    display:none;
  }
  .drum-machine{
    min-width:100%;
    min-height:100%;
    padding:0;
  }
  .drum-machine__screen{
    padding:6%;
    margin:3%;
    margin-bottom: 4%;
  }
  .drum-machine__screen__title{
    font-size:8vw;
  }
  .drum-machine__screen__subtitle{
    font-size:4vw;
  }
  ul.drum-machine__pads{
    max-width:100%;
    margin:3%;
    grid-gap:1.5vw;
  }
  ul.drum-machine__pads li{
    max-width: 99%;
  }
  ul.drum-machine__pads li button{
    min-width:100%;
    height:100%;
    box-shadow: 3px 1px 2px rgba(0, 0, 0, 0.2);
  }

  .drum-machine__pads__label{
    font-size:4vw;
    text-overflow: ellipsis;
  }
  .js-upload-button{
    background:rgba(0, 0, 0, 0.25);
    color:white;
    font-size:1.2vh;
    border-radius: 2px .4rem;
    padding:1vh 2vw;
    /*box-shadow: 0px 0px 0px .7em rgba(0, 0, 0, 0.3);*/
    top: 0; right:0;
  }
}
/*@media only screen
and (min-height : )
/* to make pads horizontally fill phone screens
   and to adjust the size of the upload buttons*/
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
  .drum-machine__screen{
    padding:3%;
    margin-top:5%;
    margin-bottom:7%;
  }
  .drum-machine__screen__title{
    font-size:12vw;
  }
  .drum-machine__screen__subtitle{
    font-size:6vw;
  }
  ul.drum-machine__pads{
    height: 75vh;
  }
  ul.drum-machine__pads li button{
    width:100%;
    height:100%;

    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.2);
  }
  .drum-machine__pads__label{
    font-size:5vw;
    text-overflow: ellipsis;
  }
  .js-upload-button{
    font-size:.8em;
  }
}
