@font-face {
  font-family: "super smash tv";
  src: url("./fonts/sstv.ttf");
}

p {
  margin: 0;
  padding: 0;

  white-space: nowrap;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  max-height: 100vh;
  max-width: 100vw;
  background-color: #89c9ff;
}

button:focus {
  outline: 0;
}

.instrument-container {
  max-height: 55vw;
  max-width: 96vw;
  height: 95vh;
  background: #7c7c7c;
  border: 8px #c4c4c4 solid;
  border-radius: 20px;

  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  align-items: center;
  justify-content: center;
}

.instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 98vw;
  height: 96vh;
  margin: auto;

  border: 9px black solid;
  display: grid;
  border-radius: 9px;
  align-items: center;
  transform: translate(-50%, -50%);
  transition: opacity 350ms linear;
  opacity: 0.95;
  z-index: 1;
  position: absolute;
  background: black;
}

.instructions__text {
  color: white;
  text-align: center;
}

.drum-machine {
  max-height: 85%;
  width: 75%;
  background-color: #e8e8e8;
  padding: 2vw 2.5vw;
  font-family: "Helvetica Neue";
  margin: auto;
  border: 8px #c4c4c4 solid;
  border-radius: 10px;
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.15);
}

.drum-machine__screen {
  min-height: 12%;

  font-family: "super smash tv";
  background-color: #4880ff;
  color: white;
  font-weight: normal;
  padding: 3% 4%;
  margin-bottom: 2vw;
  border-radius: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes slide {
  from {
    left: 100%;
    transform: translate(100%, 0);
  }
  to {
    left: 0;
    transform: translate(0, 0);
  }
}

.animate-text {
  animation-name: slide;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: left;
  animation-iteration-count: 1;
}

.drum-machine__screen__title {
  min-height: 4.5vh;
  font-size: 2.5vw;
  margin-top: 5%;
  margin-bottom: 1%;

  white-space: nowrap;
}

.drum-machine__screen__subtitle {
  font-size: 1.5vw;
  min-height: 3vh;
  margin-top: 1%;
  margin-bottom: 2%;

  white-space: nowrap;
}

ul.drum-machine__pads {
  list-style: none;
  width: 100%;

  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vw;
}

ul.drum-machine__pads li button {
  position: relative;
  width: 100%;

  padding-top: 100%;

  background: #c4c4c4;
  border: 0;
  cursor: pointer;
  border-radius: 0.4rem;
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.2);
}

ul.drum-machine__pads li button:active,
.button-active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
  transform: translateY(-1px);

  -webkit-transform: translateY(-1px);
}

.drum-machine__pads__label {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  font-size: 1.5vw;
  color: #4a4a4a;
}

.js-upload-button input {
  display: none;
}

.js-upload-button {
  position: absolute;
  top: 0;
  right: 0;

  padding: 0.4vw 0.6vw;
  border-radius: 0.2vh 0.4rem;

  background-color: #7c7c7c;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
}

/* sequencer styling */
.sequencer {
  max-height: 85%;
  max-width: 60vw;
  width: 85%;
  font-family: "super smash tv";
  color: #4a4a4a;
  background-color: #e8e8e8;
  margin: auto;

  padding: 2vw 1.5vw;
  border: 8px #c4c4c4 solid;
  border-radius: 10px;

  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.15);
}

.sequencer__controls {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 0.75fr 0.75fr 0.75fr;
  align-items: center;
}

.sequencer__controls__buttons {
  width: 100%;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  display: inline-grid;
  margin-right: 0%;
  font-family: "super smash tv";
}

.sequencer__controls__buttons__play {
  font-size: 25px;
}

.sequencer__controls__buttons__reset {
  font-size: 25px;
}

.sequencer__controls__buttons__reset-effects {
  font-size: 20px;
}

.sequencer__controls__tempo {
  display: inline-grid;
}

.tempo-info {
  font-size: 1.5rem;
  text-align: center;
}

#tempo {
  width: 100%;
}

input[type="range"] {
  background-color: black;
}

.beat-selector {
  margin: 0 10%;
}

.sequencer__display {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  border-radius: 8px;
  overflow: hidden;
}

.sequencer__display__track {
  display: grid;
  grid-template-columns: 5% 15% repeat(16, 1fr);

  background: rgba(255, 255, 255, 0.2);
}

.sequencer__display__track__show-effects {
  background: rgba(255, 255, 255, 0.1);
  border: 0;
}

.sequencer__display__track__effects-panel {
  width: 100%;
  text-align: center;
  background: lightblue;
  display: flex;
  flex-direction: column;
}

.effect-panel-dropdown {
  height: 100%;
  transition: height 100ms ease-out;
}
.hide {
  height: 0 !important;
  transition: height 100ms ease-in;
}

.sequencer__display__track__effects-panel__controls {
  height: 100%;
  display: grid;
  grid-template-columns: 3% repeat(3, 1fr);
  grid-template-rows: 1.5fr 2fr;
}
.effects-panel__controls__test-button {
  padding: 0;
}
.effects-panel__controls__gain {
  grid-template-rows: 25% 75%;
  align-items: center;
  display: grid;

  align-items: center;
  padding: 2%;

  margin: 1%;
  background-color: rgba(211, 211, 211, 0.3);
}

.effects-panel__controls__pan {
  grid-template-rows: 40% 60%;
  align-items: center;
  display: grid;

  align-items: center;
  padding: 2%;

  margin: 1%;
  background-color: rgba(211, 211, 211, 0.3);
}

.effects-panel__controls__pitch {
  display: grid;
  grid-template-rows: 40% 60%;
  align-items: center;

  padding: 2%;

  margin: 1%;
  background-color: rgba(211, 211, 211, 0.3);
}

.effects-panel__controls__filter {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 35% 65%;
  display: grid;

  text-align: left;
  align-items: center;
  padding: 2%;

  margin: 1%;
  background-color: rgba(211, 211, 211, 0.3);
}

.effects-panel__controls__delay {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 40% 60%;
  display: grid;

  text-align: left;
  align-items: center;
  padding: 2%;

  margin: 1%;
  background-color: rgba(211, 211, 211, 0.3);
}
.effects-panel__controls__reverb {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 25% 75%;
  display: grid;

  text-align: left;
  align-items: center;
  padding: 2%;

  margin: 1%;
  background-color: rgba(211, 211, 211, 0.3);
}
.effects-panel__controls__reverb__wet {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 100%;
}

.sequencer__display__track__name {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-size: 1.5vw;
  background-color: rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.sequencer__display__track__button {
  font-size: 1.5vw;
  background: rgba(255, 255, 255, 0.1);
  border: 0;
  padding: 25% 0;
}

.clicked {
  text-align: center;
  color: yellow;
  opacity: 1;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1175px) {
  .instrument-container {
    max-height: 100vh;
    max-width: 100vw;
    display: grid;
    background-color: #e8e8e8;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: 0.75fr 1.25fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .drum-machine {
    display: contents;
    flex-direction: row;
    margin: 0;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .drum-machine__screen {
    height: 15vh;
    border-radius: 9px 0.2rem 0.3rem;
    align-self: flex-start;
    grid-area: 1 / 1 / 2 / 2;
  }

  .drum-machine__screen__title {
    font-size: 4vw;
    margin: 2% 0;
  }

  .drum-machine__screen__subtitle {
    margin: 0;
    font-size: 2.5vw;
  }

  ul.drum-machine__pads {
    grid-area: 1 / 2 / 3 / 3;
    width: 95%;
    margin: auto;

    grid-gap: 0.3rem 0.4rem;
    justify-self: center;
  }

  ul.drum-machine__pads li button {
    padding-top: 13.5vh;
    border-radius: 0.2rem;
  }

  .drum-machine__pads__label {
    font-size: 2.5vw;
  }

  .sequencer {
    display: contents;
    overflow: hidden;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .sequencer__controls {
    grid-area: 2 / 1 / 3 / 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    height: 100%;
    margin: auto;
  }

  .sequencer__controls__buttons {
    display: contents;
    height: 100%;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
  }

  .beat-selector {
    grid-area: 2 / 2 / 3 / 3;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sequencer__controls__buttons__play {
    height: 100%;
    grid-area: 1 / 1 / 2 / 2;
  }

  .sequencer__controls__buttons__reset {
    height: 100%;
    grid-area: 1 / 2 / 2 / 3;
  }

  .sequencer__controls__buttons__reset-effects {
    height: 100%;
    grid-area: 2/ 1 / 3 / 2;
  }

  .sequencer__controls__tempo {
    height: 80%;
    grid-area: 3 / 1 / 4 / 3;
  }

  .sequencer__display {
    background: black;
    overflow-y: auto;
    min-width: 100%;
    height: 50vh;
    margin: 0;

    border-radius: 4px 4px 9px 9px;

    grid-area: 3 / 1 / 4 / 3;
  }

  .sequencer__display__track__name {
    font-size: 2vw;
  }

  .sequencer__display__track {
    height: 100%;
  }

  .sequencer__display__track div {
    flex: 1 0 auto;
  }

  .hide {
    height: 0;
    display: none;
  }

  .effect-panel-dropdown {
    display: flex;
  }

  .sequencer__display__track__effects-panel {
    width: 100%;
  }
}
@media screen and (max-width: 710px) {
  .sequencer__display__track__effects-panel__controls {
    padding: 1.5%;
    height: 30vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% repeat(3, 1fr);
  }
  .effects-panel__controls__gain,
  .effects-panel__controls__pan,
  .effects-panel__controls__pitch,
  .effects-panel__controls__filter,
  .effects-panel__controls__delay,
  .effects-panel__controls__reverb {
    margin: 0.5%;
    padding: 2% 4%;
    text-align: left;
    font-size: 2vh;
  }
  .effects-panel__controls__test-button {
    grid-area: 1 / 1 / 2 / 2;
  }
  .effects-panel__controls__reset-button {
    grid-area: 1 / 2 / 2 / 3;
  }
  .effects-panel__controls__gain {
    grid-area: 2 / 1 / 3 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 0.4fr 0.6fr;
  }
  .effects-panel__controls__pan {
    grid-area: 4 / 1 / 5 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 0.4fr 0.6fr;
  }
  .effects-panel__controls__pitch {
    grid-area: 3 / 1 / 4 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 0.4fr 0.6fr;
  }
  .effects-panel__controls__filter {
    grid-area: 2 / 2 / 3 / 3;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.4fr 0.6fr;
  }
  .effects-panel__controls__delay {
    grid-area: 3 / 2 / 4 / 3;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.4fr 0.6fr;
  }
  .effects-panel__controls__reverb {
    grid-area: 4 / 2 / 5 / 3;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.25fr 0.75fr;
  }
}
